*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: rgb(85, 40, 65);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Pulse {
  width: 50px;
  height: 50px;
  border: 5px solid green;
  background-color: green;
  border-radius: 50%;
  animation: green 1s infinite linear;
}

@keyframes green {
  0% {
    transform: scale(0.3);
    opacity: 0.3;
  }

  30% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;

    transform: scale(1);
  }
}
